@model WebRole1.Models.Recipe
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cuisine = ViewBag.Recipe.Cuisine.ToString();
}
<br />
<h2>Edit a Recipe</h2>

<form action="/Recipe/ConfirmEditAsync" method="post">
    <br />
    <div class="ImageContainer">
        <img src="@ViewBag.Recipe.ImageUrl" id="imgContainer" style="height: 200px;" />
    </div>
    <br />

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="@ViewBag.Recipe.Name">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="@ViewBag.Recipe.ImageUrl" name="imgurl" id="imgurl">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="func()">Preview Image</button>
        </div>

    </div>

    <div class="form-group">
        <label for="description">Short Description</label>
        <textarea class="form-control" name="description" id="description" rows="2">@ViewBag.Recipe.Description</textarea>
        <small id="descriptionHelp" class="form-text text-muted">Max. 140 Characters</small>
    </div>
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input type="text" class="form-control" id="ingredients" value="@ViewBag.Recipe.Ingredients" name="ingredients">
        <small id="ingredientsHelp" class="form-text text-muted">Separate ingredients with a comma. Example: "2 bananas, 10 Tbsp Sugar, 200ml Milk"</small>
    </div>
    <div class="form-group">
        <label for="process">Process Description</label>
        <textarea class="form-control" id="process" name="process" rows="3">@ViewBag.Recipe.Process</textarea>
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        @Html.EnumDropDownListFor(model => model.Cuisine, cuisine , new { @class = "form-control" })
    </div>

    <input type="hidden" name="recipeid" value="@ViewBag.Recipe.RecipeId" />

    <input type="submit" class="btn btn-primary" value="Save Changes" />
</form>

<script>
    function func() {
        var url = document.getElementById("imgurl").value;
        if (url == '') {
            console.log("hello");
            url = 'https://image.freepik.com/free-vector/plate-cuttlery-graphic-illustration_53876-9118.jpg';
        }
        document.getElementById('imgContainer').setAttribute('src', url)
    }
</script>